.menu-icon {
  height: 24px;
  width: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23fff' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-menu white-color'%3E%3Cline x1='3' y1='12' x2='21' y2='12'%3E%3C/line%3E%3Cline x1='3' y1='6' x2='21' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='18' x2='21' y2='18'%3E%3C/line%3E%3C/svg%3E");
}

.menu-icon-hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23131727' stroke='%23131727' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-menu white-color'%3E%3Cline x1='3' y1='12' x2='21' y2='12'%3E%3C/line%3E%3Cline x1='3' y1='6' x2='21' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='18' x2='21' y2='18'%3E%3C/line%3E%3C/svg%3E");
}

@mixin menu-icon {
  height: 24px;
  width: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23fff' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-menu white-color'%3E%3Cline x1='3' y1='12' x2='21' y2='12'%3E%3C/line%3E%3Cline x1='3' y1='6' x2='21' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='18' x2='21' y2='18'%3E%3C/line%3E%3C/svg%3E");
}

@mixin menu-black-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23131727' stroke='%23131727' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-menu white-color'%3E%3Cline x1='3' y1='12' x2='21' y2='12'%3E%3C/line%3E%3Cline x1='3' y1='6' x2='21' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='18' x2='21' y2='18'%3E%3C/line%3E%3C/svg%3E");
}

/* BG ICON */
.bg-custom-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}

.play-icon {
  width: 82px;
  height: 86px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='86px' height='90px' viewBox='0 0 86 90' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eplay%3C/title%3E%3Cdefs%3E%3Cfilter x='-155.8%25' y='-106.0%25' width='404.0%25' height='311.9%25' filterUnits='objectBoundingBox' id='filter-1'%3E%3CfeGaussianBlur stdDeviation='13.5000005' in='SourceGraphic'%3E%3C/feGaussianBlur%3E%3C/filter%3E%3ClinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='linearGradient-2'%3E%3Cstop stop-color='%23FFFFFF' offset='0%25'%3E%3C/stop%3E%3Cstop stop-color='%23FFFFFF' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='play' transform='translate(34.000000, 27.000000)'%3E%3Cpath d='M0,4.94700921 L0,31.0529908 C-1.73185966e-15,32.4845129 1.16047795,33.6449908 2.59200005,33.6449908 C3.11922442,33.6449908 3.63391259,33.4842144 4.06739235,33.184113 L22.9217124,20.1311222 C24.0986987,19.3162855 24.3922789,17.701594 23.5774423,16.5246077 C23.4000609,16.2683901 23.1779299,16.0462592 22.9217124,15.8688778 L4.06739235,2.81588701 C2.89040605,2.00105034 1.27571451,2.29463062 0.460877848,3.47161692 C0.160776476,3.90509668 1.50183592e-15,4.41978484 0,4.94700921 Z' id='Path' fill='%23FFFFFF' opacity='0.791271391' filter='url(%23filter-1)'%3E%3C/path%3E%3Cpath d='M0,4.94700921 L0,31.0529908 C-1.73185966e-15,32.4845129 1.16047795,33.6449908 2.59200005,33.6449908 C3.11922442,33.6449908 3.63391259,33.4842144 4.06739235,33.184113 L22.9217124,20.1311222 C24.0986987,19.3162855 24.3922789,17.701594 23.5774423,16.5246077 C23.4000609,16.2683901 23.1779299,16.0462592 22.9217124,15.8688778 L4.06739235,2.81588701 C2.89040605,2.00105034 1.27571451,2.29463062 0.460877848,3.47161692 C0.160776476,3.90509668 1.50183592e-15,4.41978484 0,4.94700921 Z' id='Path' fill='url(%23linearGradient-2)' transform='translate(13.000000, 18.000000) rotate(-360.000000) translate(-13.000000, -18.000000) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}