.auth-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.auth-section .auth-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.auth-section .auth-div .auth-root-div {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
}

.auth-section .auth-div .auth-root-div .auth-left-side {
  padding: 0;
  margin: 0;
  position: relative;
  width: 610px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.auth-section .auth-div .auth-root-div .auth-left-side .auth-banner-div {
  padding: 0;
  margin: 0;
  position: relative;
  background: url(../images/background/banner-auth.jpg) no-repeat;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.auth-section .auth-div .auth-root-div .auth-right-side {
  padding: 0;
  margin: 0;
  position: relative;
  width: calc(100% - 610px);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.auth-section .auth-div .auth-root-div .auth-right-side .auth-top-area-div {
  padding: 20px 0;
  min-height: calc(100vh - 16px - 44px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.auth-section .auth-div .auth-root-div .auth-right-side .auth-content-div {
  padding: 8px 16px;
  max-width: 516px;
  margin: 0 auto;
}

.auth-section .auth-div .auth-root-div .auth-right-side .auth-content-div .auth-logo-div {
  padding: 0;
  margin: 0 0 35px 0;
  position: relative;
  width: 100%;
}

.auth-section .auth-div .auth-root-div .auth-right-side .auth-content-div .auth-logo-div .img-responsive {
  width: 115px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left;
     object-position: left;
}

.auth-section .auth-div .auth-root-div .auth-right-side .auth-content-div .heading-div {
  padding: 0;
  margin: 0 0 35px 0;
  position: relative;
  width: 100%;
}

.auth-section .auth-div .auth-root-div .auth-right-side .auth-content-div .heading-div h2 {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.3;
  color: #fff;
  letter-spacing: 0;
  margin: 0;
  display: block;
  width: 100%;
}

.auth-section .auth-div .auth-root-div .auth-right-side .auth-content-div .or-separator-div {
  padding: 0;
  margin: 0;
  text-align: center;
}

.auth-section .auth-div .auth-root-div .auth-right-side .auth-content-div .or-separator-div p {
  padding: 0;
  margin: 0;
}

.auth-section .auth-div .auth-root-div .auth-right-side .auth-content-div .form-auth-root .social-button-div .sb-div-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 10px 20px 0;
}

.auth-section .auth-div .auth-root-div .auth-right-side .auth-content-div .form-auth-root .social-button-div .sb-div-row .sb-div {
  margin: 0 10px 10px 0;
  position: relative;
}

.auth-section .auth-div .auth-root-div .auth-right-side .auth-content-div .form-auth-root .social-button-div .sb-div-row .sb-div .icon-i {
  color: #fff;
  font-size: 16px;
}

.auth-section .auth-div .auth-root-div .auth-right-side .auth-content-div .form-auth-root .social-button-div .sb-div-row .sb-div:last-child {
  margin: 0 0 10px 0;
}

.auth-section .auth-div .auth-root-div .auth-right-side .auth-content-div .form-auth-root .social-button-div .sb-div-row .sb-div.sb-full-div {
  width: calc(100% - 108px);
}

.auth-section .auth-div .auth-root-div .auth-right-side .auth-content-div .form-auth-root .social-button-div .sb-div-row .sb-div.sb-full-div .btn.btn-blck-sb {
  padding-left: 44px;
  padding-right: 44px;
}

.auth-section .auth-div .auth-root-div .auth-right-side .auth-content-div .form-auth-root .social-button-div .sb-div-row .sb-div.sb-full-div .icon-i {
  position: absolute;
  left: 18px;
}

.auth-section .auth-div .auth-root-div .auth-right-side .auth-content-div .form-auth-root .social-button-div .sb-div-row .btn.btn-blck-sb {
  border-radius: 50px;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0;
  background-color: #000;
  min-height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 44px;
}

.auth-section .auth-div .auth-root-div .auth-right-side .auth-content-div .form-auth-root .form-root .form-group-custom .custom-icon {
  color: #fff;
}

.auth-section .auth-div .auth-root-div .auth-right-side .auth-content-div .form-auth-root .form-root .form-group-custom .form-control {
  background: transparent;
}

.auth-section .auth-div .auth-root-div .auth-right-side .auth-content-div .form-auth-root .form-root .general-form-btn .btn-common-primary {
  min-height: 40px;
  min-width: 185px;
}

.auth-section .auth-div .auth-root-div .auth-right-side .auth-content-div .bottom-row {
  margin: 0 0 20px 0;
}

.auth-section .auth-div .auth-root-div .auth-right-side .auth-content-div .bottom-row .text-center-reg-side {
  text-align: center;
}

.auth-section .auth-div .auth-root-div .auth-right-side .auth-content-div .bottom-row .text-center-reg-side p {
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.67);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px 0;
}

.auth-section .auth-div .auth-root-div .auth-right-side .auth-content-div .bottom-row .text-center-reg-side p .btn-red-link {
  padding: 0;
  margin: 0 0 0 5px;
  line-height: inherit;
  color: #ff5f00;
  text-decoration: underline;
}

.auth-section .auth-div .auth-root-div .auth-right-side .auth-content-div .bottom-row .text-center-reg-side p .btn-red-link:hover {
  text-decoration: none;
}
/*# sourceMappingURL=auth-style.css.map */