.general-chat-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.general-chat-section .general-chat-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.general-chat-section .container-general-video-div {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  -webkit-transition: width 0.8s;
  transition: width 0.8s;
}

.general-chat-section .container-general-video-div .general-video-root .general-video-back {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.general-chat-section .container-general-video-div .general-video-root .general-video-back .iframe-video {
  width: 100%;
  height: 100%;
}

.general-chat-section .container-general-video-div .general-video-root .general-video-back .video-full {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.general-chat-section .container-general-video-div .general-video-root .general-video-content {
  padding: 40px;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(35%, rgba(0, 0, 0, 0.52)), color-stop(66%, rgba(0, 0, 0, 0)), color-stop(85%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.52) 35%, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0) 99%);
}

.general-chat-section .container-general-video-div .general-video-root .general-video-content .general-video-top {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: calc(100vh - 141px);
}

.general-chat-section .container-general-video-div .general-video-root .general-video-content .general-video-top .general-video-top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 0 30px 0;
}

.general-chat-section .container-general-video-div .general-video-root .general-video-content .general-video-top .general-video-top-row .general-video-left {
  padding: 0;
  margin: 0;
  position: relative;
}

.general-chat-section .container-general-video-div .general-video-root .general-video-content .general-video-top .general-video-top-row .general-video-left .btn-common-primary {
  min-height: 40px;
}

.general-chat-section .container-general-video-div .general-video-root .general-video-content .general-video-top .general-video-top-row2 .disc-div {
  max-width: 650px;
}

.general-chat-section .container-general-video-div .general-video-root .general-video-content .general-video-top .general-video-top-row2 .disc-div p {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.4;
  color: #fff;
  letter-spacing: 0;
  font-family: "Moderat Extended", sans-serif;
}

.general-chat-section .container-general-video-div .general-video-root .general-video-content .general-video-bottom {
  padding: 0;
  margin: 0;
  position: relative;
}

.general-chat-section .container-general-video-div .general-video-root .general-video-content .general-video-bottom .white-icon-text-list .white-icon-text-list-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 10px;
}

.general-chat-section .container-general-video-div .general-video-root .general-video-content .general-video-bottom .white-icon-text-list .white-icon-text-list-row .white-icon-text-box {
  padding: 0 10px;
  margin: 0;
  position: relative;
}

.general-chat-section .container-general-video-div .general-video-root .general-video-content .general-video-bottom .white-icon-text-list .white-icon-text-list-row .white-icon-text-box .white-icon-text-link {
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.general-chat-section .container-general-video-div .general-video-root .general-video-content .general-video-bottom .white-icon-text-list .white-icon-text-list-row .white-icon-text-box .white-icon-text-link .white-icon-span {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border-radius: 100px;
  margin: 0 0 5px 0;
}

.general-chat-section .container-general-video-div .general-video-root .general-video-content .general-video-bottom .white-icon-text-list .white-icon-text-list-row .white-icon-text-box .white-icon-text-link .text-span {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0;
  text-align: center;
  width: 100%;
}

.general-chat-section .container-general-video-div.active {
  width: calc(100% - 510px);
}

.general-chat-section .chatting-general-div {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.general-chat-section .chatting-general-div .chatting-general-row {
  padding: 0;
  position: relative;
}

.general-chat-section .chatting-general-div .arrow-group-box {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 9999;
  -webkit-transition: right 0.8s;
  transition: right 0.8s;
}

.general-chat-section .chatting-general-div .arrow-group-box .btn-arrow-bar {
  background-image: linear-gradient(121deg, #ef4443 2%, #ef6b18 100%);
  padding: 9px 11px 9px 8px;
  height: 58px;
  width: 58px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  -webkit-transition: right 0.8s;
  transition: right 0.8s;
}

.general-chat-section .chatting-general-div .arrow-group-box .btn-arrow-bar .text-span-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.general-chat-section .chatting-general-div .arrow-group-box .btn-arrow-bar .arrow {
  font-size: 34px;
}

.general-chat-section .chatting-general-div .backdrop-progress {
  display: none;
}

.general-chat-section .chatting-general-div .chat-progress-group-inner {
  position: fixed;
  top: 0;
  right: -510px;
  width: 100%;
  max-width: 510px;
  background-color: #191919;
  z-index: 999;
  min-height: 100vh;
  padding: 0 0 0 0;
  -webkit-transition: right 0.8s;
  transition: right 0.8s;
}

.general-chat-section .chatting-general-div .chat-progress-group-inner .chat-progress-group-header {
  padding: 30px 50px 20px 50px;
  margin: 0 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 110px;
}

.general-chat-section .chatting-general-div .chat-progress-group-inner .chat-progress-group-header h3 {
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  color: #fff;
  letter-spacing: 0;
  margin: 0 0 0 0;
  display: block;
  width: 100%;
}

.general-chat-section .chatting-general-div .chat-progress-group-inner .chat-progress-group-header .progress-group-header-left {
  padding: 0;
  margin: 0;
  width: 100%;
}

.general-chat-section .chatting-general-div .chat-progress-group-inner .chat-area-box-root .chat-box {
  padding: 0;
  margin: 0;
  position: relative;
  border: 0;
  background-color: transparent;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: calc(100vh - 110px);
}

.general-chat-section .chatting-general-div .chat-progress-group-inner .chat-area-box-root .chat-box .card-body {
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  overflow-y: auto;
}

.general-chat-section .chatting-general-div .chat-progress-group-inner .chat-area-box-root .chat-box .card-body .card-body-row {
  padding: 0 0 7px 0;
  margin: 0;
  position: relative;
  overflow: auto;
}

.general-chat-section .chatting-general-div .chat-progress-group-inner .chat-area-box-root .chat-box .card-body .card-body-row .chat-item {
  padding: 8px 20px;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.general-chat-section .chatting-general-div .chat-progress-group-inner .chat-area-box-root .chat-box .card-body .card-body-row .chat-item .user-img-thumb {
  padding: 0 0 5px 0;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.general-chat-section .chatting-general-div .chat-progress-group-inner .chat-area-box-root .chat-box .card-body .card-body-row .chat-item .user-img-thumb .img-user {
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

.general-chat-section .chatting-general-div .chat-progress-group-inner .chat-area-box-root .chat-box .card-body .card-body-row .chat-item .chat-details {
  padding: 0 0 0 10px;
  position: relative;
  width: calc(100% - 40px);
}

.general-chat-section .chatting-general-div .chat-progress-group-inner .chat-area-box-root .chat-box .card-body .card-body-row .chat-item .chat-user {
  font-weight: 400;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.54);
  letter-spacing: 0;
  margin: 0 0 5px 0;
}

.general-chat-section .chatting-general-div .chat-progress-group-inner .chat-area-box-root .chat-box .card-body .card-body-row .chat-item.chat-left .chat-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  letter-spacing: 0;
  padding: 11px 20px 11px 16px;
  background: #ef4443;
  background-image: linear-gradient(121deg, #ef4443 2%, #ef6b18 100%);
  border-radius: 20px 80px 80px 4px;
  margin: 0 0 5px 0;
  width: auto;
  display: inline-block;
  max-width: 360px;
}

.general-chat-section .chatting-general-div .chat-progress-group-inner .chat-area-box-root .chat-box .card-body .card-body-row .chat-item.chat-left .chat-text.chat-text2 {
  border-radius: 4px 80px 80px 20px;
}

.general-chat-section .chatting-general-div .chat-progress-group-inner .chat-area-box-root .chat-box .card-body .card-body-row .chat-item.chat-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.general-chat-section .chatting-general-div .chat-progress-group-inner .chat-area-box-root .chat-box .card-body .card-body-row .chat-item.chat-right .chat-details {
  width: auto;
  text-align: right;
}

.general-chat-section .chatting-general-div .chat-progress-group-inner .chat-area-box-root .chat-box .card-body .card-body-row .chat-item.chat-right .chat-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  letter-spacing: 0;
  padding: 11px 20px 11px 16px;
  background: #2d2d2d;
  border-radius: 80px 20px 4px 80px;
  margin: 0 0 5px 0;
  width: auto;
  display: inline-block;
  max-width: 360px;
}

.general-chat-section .chatting-general-div .chat-progress-group-inner .chat-area-box-root .chat-box .card-body .card-body-row .chat-item.chat-right .chat-text.chat-text2 {
  border-radius: 80px 4px 20px 80px;
}

.general-chat-section .chatting-general-div .chat-progress-group-inner .chat-area-box-root .chat-box .card-footer {
  padding: 0;
  margin: 0;
  position: relative;
  border-top: 1px solid #979797;
}

.general-chat-section .chatting-general-div .chat-progress-group-inner .chat-area-box-root .chat-box .card-footer .card-footer-row {
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.general-chat-section .chatting-general-div .chat-progress-group-inner .chat-area-box-root .chat-box .card-footer .card-footer-row .card-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.general-chat-section .chatting-general-div .chat-progress-group-inner .chat-area-box-root .chat-box .card-footer .card-footer-row .card-form textarea.form-control {
  width: calc(100% - 58px);
  height: 60px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff59;
  font-weight: 400;
  resize: none;
  padding: 15px 20px 15px 20px;
  background: transparent;
  border: transparent;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.general-chat-section .chatting-general-div .chat-progress-group-inner .chat-area-box-root .chat-box .card-footer .card-footer-row .card-form .btn.btn-primary {
  width: 58px;
  height: 58px;
  background: transparent;
  border-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: linear-gradient(121deg, #ef4443 2%, #ef6b18 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.general-chat-section .chatting-general-div.active .arrow-group-box {
  position: absolute;
  right: 481px;
}

.general-chat-section .chatting-general-div.active .arrow-group-box .btn-arrow-bar .round-span .arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  display: block;
  padding: 0 4px 2px 0;
}

.general-chat-section .chatting-general-div.active .chat-progress-group-inner {
  right: 0;
}

@media (max-width: 767px) {
  .general-chat-section .container-general-video-div .general-video-root .general-video-content {
    padding: 20px;
  }
  .general-chat-section .container-general-video-div .general-video-root .general-video-content .general-video-top {
    min-height: calc(100vh - 110px);
  }
  .general-chat-section .container-general-video-div .general-video-root .general-video-content .general-video-top .general-video-top-row .general-video-left .btn-common-primary {
    padding: 6px 20px 5px 20px;
  }
  .general-chat-section .container-general-video-div .general-video-root .general-video-content .general-video-top .general-video-top-row2 .disc-div p {
    font-size: 14px;
  }
  .general-chat-section .container-general-video-div.active {
    width: 100%;
  }
  .general-chat-section .chatting-general-div .arrow-group-box {
    top: 20px;
    right: 20px;
  }
  .general-chat-section .chatting-general-div .arrow-group-box .btn-arrow-bar {
    padding: 8px 11px 9px 8px;
    height: 42px;
    width: 42px;
  }
  .general-chat-section .chatting-general-div .arrow-group-box .btn-arrow-bar .arrow {
    font-size: 26px;
  }
  .general-chat-section .chatting-general-div .chat-progress-group-inner {
    right: -810px;
    width: 100%;
    max-width: 100%;
  }
  .general-chat-section .chatting-general-div .chat-progress-group-inner .chat-progress-group-header {
    padding: 15px 50px 9px 65px;
    min-height: 60px;
  }
  .general-chat-section .chatting-general-div .chat-progress-group-inner .chat-progress-group-header h3 {
    font-size: 22px;
    line-height: 36px;
  }
  .general-chat-section .chatting-general-div .chat-progress-group-inner .chat-area-box-root .chat-box {
    height: calc(100vh - 60px);
  }
  .general-chat-section .chatting-general-div .chat-progress-group-inner .chat-area-box-root .chat-box .card-body .card-body-row .chat-item.chat-left .chat-text {
    font-size: 12px;
    padding: 10px 15px 10px 10px;
  }
  .general-chat-section .chatting-general-div .chat-progress-group-inner .chat-area-box-root .chat-box .card-body .card-body-row .chat-item.chat-right .chat-text {
    font-size: 12px;
    padding: 10px 10px 10px 15px;
  }
  .general-chat-section .chatting-general-div .chat-progress-group-inner .chat-area-box-root .chat-box .card-footer .card-footer-row .card-form textarea.form-control {
    font-size: 16px;
  }
  .general-chat-section .chatting-general-div.active .arrow-group-box {
    right: calc(100vw - 50px);
    top: 10px;
  }
  .general-chat-section .chatting-general-div.active .arrow-group-box .btn-arrow-bar .round-span .arrow {
    padding: 0 4px 0px 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .general-chat-section .container-general-video-div .general-video-root .general-video-content {
    padding: 20px;
  }
  .general-chat-section .container-general-video-div .general-video-root .general-video-content .general-video-top {
    min-height: calc(100vh - 110px);
  }
  .general-chat-section .container-general-video-div .general-video-root .general-video-content .general-video-top .general-video-top-row .general-video-left .btn-common-primary {
    padding: 6px 20px 5px 20px;
  }
  .general-chat-section .container-general-video-div .general-video-root .general-video-content .general-video-top .general-video-top-row2 .disc-div p {
    font-size: 14px;
  }
  .general-chat-section .container-general-video-div.active {
    width: calc(100% - 290px);
  }
  .general-chat-section .chatting-general-div .arrow-group-box {
    top: 20px;
    right: 20px;
  }
  .general-chat-section .chatting-general-div .arrow-group-box .btn-arrow-bar {
    padding: 8px 11px 9px 8px;
    height: 42px;
    width: 42px;
  }
  .general-chat-section .chatting-general-div .arrow-group-box .btn-arrow-bar .arrow {
    font-size: 26px;
  }
  .general-chat-section .chatting-general-div .chat-progress-group-inner {
    right: -810px;
    max-width: 290px;
  }
  .general-chat-section .chatting-general-div .chat-progress-group-inner .chat-progress-group-header {
    padding: 15px 50px 9px 30px;
    min-height: 80px;
  }
  .general-chat-section .chatting-general-div .chat-progress-group-inner .chat-progress-group-header h3 {
    font-size: 22px;
    line-height: 36px;
  }
  .general-chat-section .chatting-general-div .chat-progress-group-inner .chat-area-box-root .chat-box {
    height: calc(100vh - 80px);
  }
  .general-chat-section .chatting-general-div .chat-progress-group-inner .chat-area-box-root .chat-box .card-body .card-body-row .chat-item.chat-left .chat-text {
    font-size: 12px;
    padding: 10px 15px 10px 10px;
  }
  .general-chat-section .chatting-general-div .chat-progress-group-inner .chat-area-box-root .chat-box .card-body .card-body-row .chat-item.chat-right .chat-text {
    font-size: 12px;
    padding: 10px 10px 10px 15px;
  }
  .general-chat-section .chatting-general-div .chat-progress-group-inner .chat-area-box-root .chat-box .card-footer .card-footer-row .card-form textarea.form-control {
    font-size: 16px;
  }
  .general-chat-section .chatting-general-div.active .arrow-group-box {
    right: 272px;
  }
  .general-chat-section .chatting-general-div.active .arrow-group-box .btn-arrow-bar .round-span .arrow {
    padding: 0 4px 0px 0;
  }
}
/*# sourceMappingURL=chat.css.map */