.general-chat-section {
  padding: 0;
  margin: 0;
  position: relative;

  .general-chat-div {
    padding: 0;
    margin: 0;
    position: relative;
  }

  .container-general-video-div {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    transition: width 0.8s;

    .general-video-root {
      .general-video-back {
        padding: 0;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;

        .iframe-video {
          width: 100%;
          height: 100%;
        }

        .video-full {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .general-video-content {
        padding: 40px;
        min-height: 100vh;
        height: 100%;
        width: 100%;
        position: relative;
        background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.5) 0%,
          rgba(0, 0, 0, 0.52) 35%,
          rgba(0, 0, 0, 0) 66%,
          rgba(0, 0, 0, 0) 85%,
          rgba(0, 0, 0, 0) 99%
        );

        .general-video-top {
          padding: 0;
          margin: 0;
          position: relative;
          min-height: calc(100vh - 141px);

          .general-video-top-row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            margin: 0 0 30px 0;

            .general-video-left {
              padding: 0;
              margin: 0;
              position: relative;

              .btn-common-primary {
                min-height: 40px;
              }
            }
          }

          .general-video-top-row2 {
            .disc-div {
              max-width: 650px;

              p {
                font-weight: 800;
                font-size: 18px;
                line-height: 1.4;
                color: #fff;
                letter-spacing: 0;
                font-family: "Moderat Extended", sans-serif;
              }
            }
          }
        }

        .general-video-bottom {
          padding: 0;
          margin: 0;
          position: relative;

          .white-icon-text-list {
            .white-icon-text-list-row {
              display: flex;
              justify-content: center;
              flex-wrap: wrap;
              padding: 0 10px;

              .white-icon-text-box {
                padding: 0 10px;
                margin: 0;
                position: relative;

                .white-icon-text-link {
                  padding: 0;
                  margin: 0;
                  position: relative;
                  display: flex;
                  flex-direction: column;

                  .white-icon-span {
                    height: 40px;
                    width: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #fff;
                    border-radius: 100px;
                    margin: 0 0 5px 0;
                  }

                  .text-span {
                    font-weight: 400;
                    font-size: 14px;
                    color: #fff;
                    letter-spacing: 0;
                    text-align: center;
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.active {
      width: calc(100% - 510px);
    }
  }

  .chatting-general-div {
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;

    .chatting-general-row {
      padding: 0;
      position: relative;
    }

    .arrow-group-box {
      position: absolute;
      top: 30px;
      right: 30px;
      z-index: 9999;
      transition: right 0.8s;

      .btn-arrow-bar {
        background-image: linear-gradient(121deg, #ef4443 2%, #ef6b18 100%);
        padding: 9px 11px 9px 8px;
        height: 58px;
        width: 58px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background-repeat: no-repeat;
        background-size: contain;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        position: relative;
        transition: right 0.8s;

        .text-span-row {
          display: flex;
          align-items: center;
        }

        .arrow {
          font-size: 34px;
        }
      }
    }

    .backdrop-progress {
      display: none;
    }

    .chat-progress-group-inner {
      position: fixed;
      top: 0;
      right: -510px;
      width: 100%;
      max-width: 510px;
      background-color: #191919;
      z-index: 999;
      min-height: 100vh;
      padding: 0 0 0 0;
      transition: right 0.8s;

      .chat-progress-group-header {
        padding: 30px 50px 20px 50px;
        margin: 0 0 0 0;
        display: flex;
        align-items: center;
        position: relative;
        min-height: 110px;

        h3 {
          font-weight: 700;
          font-size: 42px;
          line-height: 52px;
          color: #fff;
          letter-spacing: 0;
          margin: 0 0 0 0;
          display: block;
          width: 100%;
        }

        .progress-group-header-left {
          padding: 0;
          margin: 0;
          width: 100%;
        }
      }

      .chat-area-box-root {
        .chat-box {
          padding: 0;
          margin: 0;
          position: relative;
          border: 0;
          background-color: transparent;
          justify-content: space-between;
          height: calc(100vh - 110px);

          .card-body {
            padding: 0;
            margin: 0;
            position: relative;
            // height: calc(100vh - 110px - 61px);
            // overflow-y: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
            overflow-y: auto;

            .card-body-row {
              padding: 0 0 7px 0;
              margin: 0;
              position: relative;
              overflow: auto;

              .chat-item {
                padding: 8px 20px;
                margin: 0;
                position: relative;
                display: flex;
                align-items: flex-end;
                flex-wrap: wrap;
                width: 100%;

                .user-img-thumb {
                  padding: 0 0 5px 0;
                  width: 40px;
                  display: flex;

                  .img-user {
                    height: 40px;
                    width: 40px;
                    border-radius: 100px;
                  }
                }

                .chat-details {
                  padding: 0 0 0 10px;
                  position: relative;
                  width: calc(100% - 40px);
                }

                .chat-user {
                  font-weight: 400;
                  font-size: 12px;
                  color: rgba(255, 255, 255, 0.54);
                  letter-spacing: 0;
                  margin: 0 0 5px 0;
                }

                &.chat-left {
                  .chat-text {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    color: #fff;
                    letter-spacing: 0;
                    padding: 11px 20px 11px 16px;
                    background: #ef4443;
                    background-image: linear-gradient(121deg, #ef4443 2%, #ef6b18 100%);
                    border-radius: 20px 80px 80px 4px;
                    margin: 0 0 5px 0;
                    width: auto;
                    display: inline-block;
                    max-width: 360px;

                    &.chat-text2 {
                      border-radius: 4px 80px 80px 20px;
                    }
                  }
                }

                &.chat-right {
                  justify-content: flex-end;

                  .chat-details {
                    width: auto;
                    text-align: right;
                  }

                  .chat-text {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    color: #fff;
                    letter-spacing: 0;
                    padding: 11px 20px 11px 16px;
                    background: #2d2d2d;
                    border-radius: 80px 20px 4px 80px;
                    margin: 0 0 5px 0;
                    width: auto;
                    display: inline-block;
                    max-width: 360px;

                    &.chat-text2 {
                      border-radius: 80px 4px 20px 80px;
                    }
                  }
                }
              }
            }
          }

          .card-footer {
            padding: 0;
            margin: 0;
            position: relative;
            border-top: 1px solid #979797;

            .card-footer-row {
              padding: 0;
              margin: 0;
              position: relative;
              display: flex;
              flex-wrap: wrap;
              width: 100%;

              .card-form {
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                textarea.form-control {
                  width: calc(100% - 58px);
                  height: 60px;
                  font-size: 18px;
                  line-height: 24px;
                  color: #ffffff59;
                  font-weight: 400;
                  resize: none;
                  padding: 15px 20px 15px 20px;
                  background: transparent;
                  border: transparent;
                  outline: none;
                  box-shadow: none;
                }

                .btn.btn-primary {
                  width: 58px;
                  height: 58px;
                  background: transparent;
                  border-color: transparent;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background-image: linear-gradient(121deg, #ef4443 2%, #ef6b18 100%);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  outline: none;
                  box-shadow: none;
                }
              }
            }
          }
        }
      }
    }

    &.active {
      .arrow-group-box {
        position: absolute;
        right: 481px;

        .btn-arrow-bar {
          .round-span {
            .arrow {
              transform: rotate(180deg);
              display: block;
              padding: 0 4px 2px 0;
            }
          }
        }
      }

      .chat-progress-group-inner {
        right: 0;
      }

      // .backdrop-progress {
      //   position: fixed;
      //   width: 100vw;
      //   height: 100vh;
      //   background-color: transparent;
      //   display: flex;
      //   left: 0;
      //   z-index: 99;
      // }
    }
  }
}

@media (max-width: 767px) {
  .general-chat-section {
    .container-general-video-div {
      .general-video-root {
        .general-video-content {
          padding: 20px;

          .general-video-top {
            min-height: calc(100vh - 110px);

            .general-video-top-row {
              .general-video-left {
                .btn-common-primary {
                  padding: 6px 20px 5px 20px;
                }
              }
            }

            .general-video-top-row2 {
              .disc-div {
                p {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }

      &.active {
        width: 100%;
      }
    }

    .chatting-general-div {
      .arrow-group-box {
        top: 20px;
        right: 20px;

        .btn-arrow-bar {
          padding: 8px 11px 9px 8px;
          height: 42px;
          width: 42px;

          .arrow {
            font-size: 26px;
          }
        }
      }

      .chat-progress-group-inner {
        right: -810px;
        width: 100%;
        max-width: 100%;

        .chat-progress-group-header {
          padding: 15px 50px 9px 65px;
          min-height: 60px;

          h3 {
            font-size: 22px;
            line-height: 36px;
          }
        }

        .chat-area-box-root {
          .chat-box {
            height: calc(100vh - 60px);

            .card-body {
              .card-body-row {
                .chat-item {
                  &.chat-left {
                    .chat-text {
                      font-size: 12px;
                      padding: 10px 15px 10px 10px;
                    }
                  }

                  &.chat-right {
                    .chat-text {
                      font-size: 12px;
                      padding: 10px 10px 10px 15px;
                    }
                  }
                }
              }
            }

            .card-footer {
              .card-footer-row {
                .card-form {
                  textarea.form-control {
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }

      &.active {
        .arrow-group-box {
          right: calc(100vw - 50px);
          top: 10px;

          .btn-arrow-bar {
            .round-span {
              .arrow {
                padding: 0 4px 0px 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .general-chat-section {
    .container-general-video-div {
      .general-video-root {
        .general-video-content {
          padding: 20px;

          .general-video-top {
            min-height: calc(100vh - 110px);

            .general-video-top-row {
              .general-video-left {
                .btn-common-primary {
                  padding: 6px 20px 5px 20px;
                }
              }
            }

            .general-video-top-row2 {
              .disc-div {
                p {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }

      &.active {
        width: calc(100% - 290px);
      }
    }

    .chatting-general-div {
      .arrow-group-box {
        top: 20px;
        right: 20px;

        .btn-arrow-bar {
          padding: 8px 11px 9px 8px;
          height: 42px;
          width: 42px;

          .arrow {
            font-size: 26px;
          }
        }
      }

      .chat-progress-group-inner {
        right: -810px;
        max-width: 290px;
        
        .chat-progress-group-header {
          padding: 15px 50px 9px 30px;
          min-height: 80px;

          h3 {
            font-size: 22px;
            line-height: 36px;
          }
        }

        .chat-area-box-root {
          .chat-box {
            height: calc(100vh - 80px);

            .card-body {
              .card-body-row {
                .chat-item {
                  &.chat-left {
                    .chat-text {
                      font-size: 12px;
                      padding: 10px 15px 10px 10px;
                    }
                  }

                  &.chat-right {
                    .chat-text {
                      font-size: 12px;
                      padding: 10px 10px 10px 15px;
                    }
                  }
                }
              }
            }

            .card-footer {
              .card-footer-row {
                .card-form {
                  textarea.form-control {
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }

      &.active {
        .arrow-group-box {
          right: 272px;

          .btn-arrow-bar {
            .round-span {
              .arrow {
                padding: 0 4px 0px 0;
              }
            }
          }
        }
      }
    }
  }
}
