footer {
  position: relative;
}

.footer-div {
  padding: 100px 0 75px 0;
  margin: 0;
  position: relative;
  background-color: #0f0f0f;

  &.footer-bg2 {
    background-color: #212121;
  }

  &.footer-bg3 {
    background-color: #191919;
  }

  .footer-logo-row {
    margin: 0 0 40px 0;

    .footer-logo-box-root {
      .footer-logo-thumb {
        .logo-link {
          display: flex;
        }

        .footer-logo {
          height: 35px;
          object-fit: contain;
        }
      }
    }
  }

  .footer-content-row {
    padding: 40px 0 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.31);
    border-bottom: 1px solid rgba(255, 255, 255, 0.31);

    .about-desc-footer-div {
      padding: 0 10px 0 0;
      margin: 0 0 20px 0;
      position: relative;
      max-width: 410px;

      h4 {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.4;
        color: #fff;
        letter-spacing: 0;
        margin: 0 0 10px 0;
      }

      p {
        opacity: 0.71;
        font-weight: 400;
        font-size: 13px;
        color: rgba(255, 255, 255, 0.85);
        letter-spacing: 0;
        line-height: 1.4;
      }
    }

    .footer-nav-list-inner {
      .footer-list-ul {
        li {
          .link {
            font-weight: 400;
            font-size: 18px;
            color: #fff;
            letter-spacing: 0;
            line-height: 1.5;
            margin: 0 0 9px 0;
            transition: all 0.8s;
            display: block;

            &:hover {
              color: rgba(255, 255, 255, 0.6);
            }
          }
        }
      }
    }

    .es-box-div {
      .e-div {
        padding: 0;
        margin: 0 0 25px 0;
        position: relative;

        .link {
          font-weight: 400;
          font-size: 18px;
          color: #fff;
          letter-spacing: 0;
          text-align: center;
          line-height: 1.5;
          display: flex;
          align-items: center;
          margin: 0 0 10px 0;
          word-break: break-all;

          .bg-custom-icon {
            margin: 0 10px 0 0;
          }
        }
      }

      .social-icon-div-root {
        padding: 0;
        margin: 0;
        position: relative;

        ul.footer-social-ul {
          display: flex;
          flex-wrap: wrap;

          .social-link {
            font-size: 24px;
            color: #fff;
            margin: 0 30px 0 0;
            transition: all 0.8s;

            &:hover {
              color: rgba(255, 255, 255, 0.6);
            }
          }
        }
      }
    }
  }

  .footer-copyright-div {
    .footer-copyright-box-root {
      padding: 25px 0;
      margin: 0;
      width: 100%;

      p {
        font-weight: 400;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.5);
        letter-spacing: 0;
        line-height: 1.5;
        margin: 0 0 0 0;
        transition: all 0.8s;
        text-align: center;
        display: block;

        a {
          color: inherit;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .footer-div {
    padding: 60px 0 40px 0;

    .footer-content-row {
      padding: 40px 0 40px 0;

      .footer-nav-list-inner {
        .footer-list-ul {
          margin: 0 0 25px 0;

          li {
            .link {
              font-size: 14px;
            }
          }
        }
      }
    }

    .footer-content-row {
      .es-box-div {
        .e-div {
          .link {
            font-size: 14px;

            .bg-custom-icon {
              margin: 0 8px 0 0;
              width: 22px;
              height: 16px;
            }
          }
        }

        .social-icon-div-root {
          ul.footer-social-ul {
            .social-link {
              font-size: 18px;
              margin: 0 20px 0 0;
            }
          }
        }
      }
    }

    .footer-copyright-div {
      .footer-copyright-box-root {
        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer-div {
    padding: 60px 0 40px 0;

    .footer-content-row {
      .footer-nav-list-inner {
        .footer-list-ul {
          li {
            .link {
              font-size: 14px;
            }
          }
        }
      }
    }

    .footer-content-row {
      .es-box-div {
        .e-div {
          .link {
            font-size: 14px;

            .bg-custom-icon {
              margin: 0 8px 0 0;
              width: 22px;
              height: 16px;
            }
          }
        }

        .social-icon-div-root {
          ul.footer-social-ul {
            .social-link {
              font-size: 18px;
              margin: 0 20px 0 0;
            }
          }
        }
      }
    }

    .footer-copyright-div {
      .footer-copyright-box-root {
        p {
          font-size: 14px;
        }
      }
    }
  }
}
