.user-main-banner-section {
  padding: 90px 0 0 0;
  margin: 0;
  position: relative;
  background: #212121;
  min-height: 400px;
}

.user-main-banner-section .user-main-banner-div {
  padding: 45px 0 18px 0;
  margin: 0;
  position: relative;
  height: auto;
  z-index: 99;
}

.user-main-banner-section .user-main-banner-div .heading-div {
  padding: 0;
  margin: 0 auto 10px auto;
  position: relative;
}

.user-main-banner-section .user-main-banner-div .heading-div .content-root {
  margin: 0 0 30px 0;
}

.user-main-banner-section .user-main-banner-div .heading-div h1 {
  padding: 0;
  margin: 0 0 10px 0;
  display: block;
  width: 100%;
  font-weight: 800;
  font-size: 34px;
  line-height: 1.4;
  color: #fff;
  letter-spacing: 0;
  font-family: "Moderat Extended", sans-serif;
}

.user-main-banner-section .user-main-banner-div .heading-div p {
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.73);
  letter-spacing: 0;
  margin: 0 0 10px 0;
}

.user-main-banner-section .user-main-banner-div .heading-div .filter-category-root-div {
  margin: 0 0 0 0;
}

.user-main-banner-section .user-main-banner-div .heading-div .filter-category-root-div .filter-category-inner .filter-list-ul li .filter-link:hover, .user-main-banner-section .user-main-banner-div .heading-div .filter-category-root-div .filter-category-inner .filter-list-ul li .filter-link:focus {
  background: #000;
  border: 1px solid #000;
  outline: none;
}

.user-main-banner-section .user-main-banner-div .heading-div .filter-category-root-div .filter-category-inner .filter-list-ul li.active .filter-link {
  background: #000;
  background-image: none;
  border: 1px solid #000;
}

.user-main-banner-section .user-main-banner-div .heading-div .search-box-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.user-main-banner-section .user-main-banner-div .heading-div .search-box-div .search-group {
  padding: 0;
  margin: 0 0 30px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.user-main-banner-section .user-main-banner-div .heading-div .search-box-div .search-group .btn.btn-search-icon {
  height: 45px;
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  background-color: #fff;
  color: #191919;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}

.user-main-banner-section .user-main-banner-div .heading-div .search-box-div .search-group .form-control {
  color: #fff;
  width: 100%;
  border-radius: 24px;
  min-height: 45px;
  font-weight: 400;
  font-size: 18px;
  padding: 5px 20px 5px 65px;
  background: rgba(255, 255, 255, 0.11);
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.user-main-banner-section .user-main-banner-div .heading-div .search-box-div .search-group .form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.user-main-banner-section .user-main-banner-div .heading-div .search-box-div .search-group .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.user-main-banner-section .user-main-banner-div .heading-div .search-box-div .search-group .form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.user-main-banner-section .user-main-banner-div .heading-div .search-box-div .search-group .form-control:-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 767px) {
  .user-main-banner-section .user-main-banner-div {
    padding: 20px 0 8px 0;
  }
  .user-main-banner-section .user-main-banner-div .heading-div h1 {
    font-size: 24px;
  }
  .user-main-banner-section .user-main-banner-div .heading-div p {
    font-size: 14px;
  }
  .user-main-banner-section .user-main-banner-div .heading-div .search-box-div .search-group .btn.btn-search-icon {
    height: 40px;
    width: 40px;
  }
  .user-main-banner-section .user-main-banner-div .heading-div .search-box-div .search-group .btn.btn-search-icon .search-icon {
    height: 15px;
  }
  .user-main-banner-section .user-main-banner-div .heading-div .search-box-div .search-group .form-control {
    min-height: 40px;
    font-size: 16px;
    padding: 5px 15px 5px 52px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .user-main-banner-section .user-main-banner-div {
    padding: 20px 0 13px 0;
  }
  .user-main-banner-section .user-main-banner-div .heading-div h1 {
    font-size: 24px;
  }
  .user-main-banner-section .user-main-banner-div .heading-div p {
    font-size: 14px;
  }
  .user-main-banner-section .user-main-banner-div .heading-div .search-box-div .search-group .btn.btn-search-icon {
    height: 40px;
    width: 40px;
  }
  .user-main-banner-section .user-main-banner-div .heading-div .search-box-div .search-group .btn.btn-search-icon .search-icon {
    height: 15px;
  }
  .user-main-banner-section .user-main-banner-div .heading-div .search-box-div .search-group .form-control {
    min-height: 40px;
    font-size: 16px;
    padding: 5px 15px 5px 52px;
  }
}
/*# sourceMappingURL=search-banner-style.css.map */