.user-main-banner-section {
  padding: 90px 0 0 0;
  margin: 0;
  position: relative;
  background: #212121;
  min-height: 400px;

  .user-main-banner-div {
    padding: 45px 0 18px 0;
    margin: 0;
    position: relative;
    height: auto;
    z-index: 99;

    .heading-div {
      padding: 0;
      margin: 0 auto 10px auto;
      position: relative;

      .content-root {
        margin: 0 0 30px 0;
      }

      h1 {
        padding: 0;
        margin: 0 0 10px 0;
        display: block;
        width: 100%;
        font-weight: 800;
        font-size: 34px;
        line-height: 1.4;
        color: #fff;
        letter-spacing: 0;
        font-family: "Moderat Extended", sans-serif;
      }

      p {
        font-weight: 400;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.73);
        letter-spacing: 0;
        margin: 0 0 10px 0;
      }

      .filter-category-root-div {
        margin: 0 0 0 0;

        .filter-category-inner {
          .filter-list-ul {
            li {
              .filter-link {
                &:hover,
                &:focus {
                  background: #000;
                  border: 1px solid #000;
                  outline: none;
                }
              }

              &.active {
                .filter-link {
                  background: #000;
                  background-image: none;
                  border: 1px solid #000;
                }
              }
            }
          }
        }
      }

      .search-box-div {
        padding: 0;
        margin: 0;
        position: relative;

        .search-group {
          padding: 0;
          margin: 0 0 30px 0;
          position: relative;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          width: 100%;

          .btn.btn-search-icon {
            height: 45px;
            width: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100px;
            background-color: #fff;
            color: #191919;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9;
          }

          .form-control {
            color: #fff;
            width: 100%;
            border-radius: 24px;
            min-height: 45px;
            font-weight: 400;
            font-size: 18px;
            padding: 5px 20px 5px 65px;
            background: rgba(255, 255, 255, 0.11);
            border: none;
            outline: none;
            box-shadow: none;

            &::-webkit-input-placeholder {
              color: rgba(255, 255, 255, 0.4);
            }

            &::-moz-placeholder {
              color: rgba(255, 255, 255, 0.4);
            }

            &:-ms-input-placeholder {
              color: rgba(255, 255, 255, 0.4);
            }

            &:-moz-placeholder {
              color: rgba(255, 255, 255, 0.4);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .user-main-banner-section {
    .user-main-banner-div {
      padding: 20px 0 8px 0;

      .heading-div {
        h1 {
          font-size: 24px;
        }

        p {
          font-size: 14px;
        }

        .search-box-div {
          .search-group {
            .btn.btn-search-icon {
              height: 40px;
              width: 40px;

              .search-icon {
                height: 15px;
              }
            }

            .form-control {
              min-height: 40px;
              font-size: 16px;
              padding: 5px 15px 5px 52px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .user-main-banner-section {
    .user-main-banner-div {
      padding: 20px 0 13px 0;

      .heading-div {
        h1 {
          font-size: 24px;
        }

        p {
          font-size: 14px;
        }

        .search-box-div {
          .search-group {
            .btn.btn-search-icon {
              height: 40px;
              width: 40px;

              .search-icon {
                height: 15px;
              }
            }

            .form-control {
              min-height: 40px;
              font-size: 16px;
              padding: 5px 15px 5px 52px;
            }
          }
        }
      }
    }
  }
}
