.general-view-details-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.general-view-details-div .general-view-details-inner {
  padding: 0;
  margin: 0;
  position: relative;
}

.general-view-details-div .general-vd-box .general-vd-row {
  padding: 0;
  margin: 0;
  position: relative;
}

.general-view-details-div .general-vd-box .thumb-div {
  padding: 0;
  margin: 0 0 35px 0;
  position: relative;
}

.general-view-details-div .general-vd-box .thumb-div .img-fluid.img-responsive {
  width: 100%;
  max-height: 265px;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
}

.general-view-details-div .general-vd-box .general-vd-content-div .time-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 0 25px 0;
}

.general-view-details-div .general-vd-box .general-vd-content-div .time-box span.icon-span {
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px 0 0;
}

.general-view-details-div .general-vd-box .general-vd-content-div .time-box span.icon-span .bg-custom-icon {
  width: 36px;
  height: 36px;
}

.general-view-details-div .general-vd-box .general-vd-content-div .time-box .text {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.3;
  color: #fff;
  letter-spacing: 0;
  width: calc(100% - 55px);
}

.general-view-details-div .general-vd-box .general-vd-content-div h3 {
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  letter-spacing: 0;
  line-height: 1.3;
  display: block;
  margin: 0 0 10px 0;
}

.general-view-details-div .general-vd-box .general-vd-content-div p {
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.49);
  letter-spacing: 0;
  line-height: 1.4;
  display: block;
  margin: 0 0 20px 0;
}

.general-view-details-div .general-vd-box .general-vd-content-div .custom-category-inner {
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
}

.general-view-details-div .general-vd-box .general-vd-content-div .custom-category-inner .custom-list-ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  list-style: none;
}

.general-view-details-div .general-vd-box .general-vd-content-div .custom-category-inner .custom-list-ul li {
  padding: 0;
  margin: 0 10px 10px 0;
  position: relative;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.general-view-details-div .general-vd-box .general-vd-content-div .custom-category-inner .custom-list-ul li .category-link {
  margin: 0;
  position: relative;
  background: transparent;
  border-radius: 20px;
  background-image: none;
  border: 1px solid rgba(255, 255, 255, 0.34);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: white;
  letter-spacing: 0;
  min-height: 34px;
  padding: 6px 40px 5px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.general-view-details-div .general-vd-box .general-vd-content-div .border-vd-text-div {
  padding: 0;
  margin: 0 0 10px 0;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.11);
  border-radius: 6px;
}

.general-view-details-div .general-vd-box .general-vd-content-div .border-vd-text-div .border-vd-text-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.general-view-details-div .general-vd-box .general-vd-content-div .border-vd-text-div .border-vd-text-row .border-vd-text-box {
  padding: 15px 25px;
  margin: 0 0 0 0;
  width: 50%;
}

.general-view-details-div .general-vd-box .general-vd-content-div .border-vd-text-div .border-vd-text-row .border-vd-text-box.br-1 {
  border-right: 1px solid rgba(255, 255, 255, 0.11);
}

.general-view-details-div .general-vd-box .general-vd-content-div .border-vd-text-div .border-vd-text-row .border-vd-text-box h2 {
  padding: 0;
  margin: 0;
  font-size: 36px;
  color: #ff5f00;
  line-height: 1.3;
  display: block;
  word-break: break-word;
}

.general-view-details-div .general-vd-box .general-vd-content-div .border-vd-text-div .border-vd-text-row .border-vd-text-box p {
  margin: 0 0 0 0;
  word-break: break-word;
}

.list-seat-holders-div .list-seat-holders-inner {
  max-height: calc(100vh - 185px);
  overflow-y: auto;
}

.list-seat-holders-div .list-seat-holders-inner .seat-listing-div {
  padding: 0 10px 0 0;
}

.list-seat-holders-div .list-seat-holders-inner .seat-listing-div .seat-user-listing-box {
  padding: 12px 0 12px 0;
  margin: 0 0 10px 0;
  position: relative;
  background-color: transparent;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.19);
          box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.19);
}

.list-seat-holders-div .list-seat-holders-inner .seat-listing-div .seat-user-listing-box .seat-user-listing-row {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.list-seat-holders-div .list-seat-holders-inner .seat-listing-div .seat-user-listing-box .seat-user-listing-row .nt-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50px;
}

.list-seat-holders-div .list-seat-holders-inner .seat-listing-div .seat-user-listing-box .seat-user-listing-row .nt-left .thumb-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-seat-holders-div .list-seat-holders-inner .seat-listing-div .seat-user-listing-box .seat-user-listing-row .nt-left img.img-fluid {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.list-seat-holders-div .list-seat-holders-inner .seat-listing-div .seat-user-listing-box .seat-user-listing-row .nt-right {
  padding: 3px 0 3px 12px;
  margin: 0;
  position: relative;
  width: calc(100% - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 50px;
}

.list-seat-holders-div .list-seat-holders-inner .seat-listing-div .seat-user-listing-box .seat-user-listing-row .nt-right h3 {
  padding: 0;
  margin: 0 0 2px 0;
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #fff;
  display: inline-block;
  max-width: 100%;
  letter-spacing: 0;
}

.list-seat-holders-div .list-seat-holders-inner .seat-listing-div .seat-user-listing-box .seat-user-listing-row .nt-right h3 a {
  color: inherit;
}

.list-seat-holders-div .list-seat-holders-inner .seat-listing-div .seat-user-listing-box .seat-user-listing-row .nt-right p {
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.68);
  letter-spacing: 0;
  display: block;
  width: 100%;
}

.list-seat-holders-div .list-seat-holders-inner .seat-listing-div .seat-user-listing-box .seat-user-listing-row .nt-right .text-desc {
  width: calc(100% - 100px);
}

.list-seat-holders-div .list-seat-holders-inner .seat-listing-div .seat-user-listing-box .seat-user-listing-row .nt-right .user-link {
  position: relative;
  padding: 0 0 0 0;
  width: 100px;
  text-align: right;
}

.list-seat-holders-div .list-seat-holders-inner .seat-listing-div .seat-user-listing-box .seat-user-listing-row .nt-right .user-link .link.link-color {
  font-weight: 400;
  font-size: 14px;
  color: #f00000;
  letter-spacing: 0;
  display: block;
  text-decoration: underline;
}

.seat-holder-oto-details-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.seat-holder-oto-details-div .seat-holder-oto-details-inner {
  padding: 0;
  margin: 0;
  position: relative;
}

.seat-holder-oto-details-div .seat-holder-oto-vd-box {
  padding: 10px 0;
}

.seat-holder-oto-details-div .seat-holder-oto-vd-box .seat-holder-oto-vd-row {
  padding: 0;
  margin: 0;
  position: relative;
}

.seat-holder-oto-details-div .seat-holder-oto-vd-box .thumb-div {
  padding: 0;
  margin: 0 0 15px 0;
  position: relative;
}

.seat-holder-oto-details-div .seat-holder-oto-vd-box .thumb-div .img-fluid.img-responsive {
  width: 85px;
  height: 85px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.seat-holder-oto-details-div .seat-holder-oto-vd-box .seat-holder-oto-content-div {
  color: #fff;
}

.seat-holder-oto-details-div .seat-holder-oto-vd-box .seat-holder-oto-content-div a {
  color: inherit;
}

.seat-holder-oto-details-div .seat-holder-oto-vd-box .seat-holder-oto-content-div .d-text-div {
  margin: 0 0 20px 0;
}

.seat-holder-oto-details-div .seat-holder-oto-vd-box .seat-holder-oto-content-div .d-text-div h3 {
  font-weight: 600;
  line-height: 1.3;
  display: block;
  margin: 0 0 3px 0;
  font-size: 24px;
  color: #ff5f00;
  letter-spacing: 0;
}

.seat-holder-oto-details-div .seat-holder-oto-vd-box .seat-holder-oto-content-div .d-text-div p {
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0;
  line-height: 1.4;
  display: block;
  margin: 0 0 5px 0;
}

.seat-holder-oto-details-div .seat-holder-oto-vd-box .seat-holder-oto-content-div .note-text-div {
  margin: 0 0 20px 0;
}

.seat-holder-oto-details-div .seat-holder-oto-vd-box .seat-holder-oto-content-div .note-text-div h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: #fff;
  letter-spacing: 0;
  display: block;
  margin: 0 0 4px 0;
}

.seat-holder-oto-details-div .seat-holder-oto-vd-box .seat-holder-oto-content-div .note-text-div p {
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0;
  line-height: 1.4;
  display: block;
  margin: 0 0 5px 0;
}

.seat-holder-oto-details-div .seat-holder-oto-vd-box .seat-holder-oto-content-div .common-form-div .form-group {
  margin: 0 0 15px 0;
}

.seat-holder-oto-details-div .seat-holder-oto-vd-box .seat-holder-oto-content-div .common-form-div .form-group .category-control-row .category-inner .category-list-ul li.active .filter-link {
  color: white;
}

@media (min-width: 1025px) {
  .list-seat-holders-div .list-seat-holders-inner::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: transparent;
  }
  .list-seat-holders-div .list-seat-holders-inner::-webkit-scrollbar {
    width: 4px;
    background-color: #000;
  }
  .list-seat-holders-div .list-seat-holders-inner::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #ff5f00;
  }
}

@media (max-width: 767px) {
  .general-view-details-div .general-vd-box .thumb-div {
    margin: 0 0 20px 0;
  }
  .general-view-details-div .general-vd-box .thumb-div .img-fluid.img-responsive {
    max-height: 225px;
  }
  .general-view-details-div .general-vd-box .general-vd-content-div {
    margin: 0 0 15px 0;
  }
  .general-view-details-div .general-vd-box .general-vd-content-div .time-box {
    margin: 0 0 15px 0;
  }
  .general-view-details-div .general-vd-box .general-vd-content-div .time-box span.icon-span {
    width: 26px;
  }
  .general-view-details-div .general-vd-box .general-vd-content-div .time-box span.icon-span .bg-custom-icon {
    width: 26px;
    height: 26px;
  }
  .general-view-details-div .general-vd-box .general-vd-content-div .time-box .text {
    font-size: 20px;
    width: calc(100% - 36px);
  }
  .general-view-details-div .general-vd-box .general-vd-content-div h3 {
    font-size: 18px;
    line-height: 1.4;
  }
  .general-view-details-div .general-vd-box .general-vd-content-div p {
    font-size: 14px;
  }
  .general-view-details-div .general-vd-box .general-vd-content-div .custom-category-inner .custom-list-ul li .category-link {
    font-size: 12px;
    line-height: 18px;
    min-height: 28px;
    padding: 4px 20px 3px 20px;
  }
  .general-view-details-div .general-vd-box .general-vd-content-div .border-vd-text-div .border-vd-text-row .border-vd-text-box {
    padding: 10px 15px;
  }
  .general-view-details-div .general-vd-box .general-vd-content-div .border-vd-text-div .border-vd-text-row .border-vd-text-box h2 {
    font-size: 21px;
  }
  .list-seat-holders-div .list-seat-holders-inner .seat-listing-div .seat-user-listing-box .seat-user-listing-row .nt-left {
    width: 44px;
  }
  .list-seat-holders-div .list-seat-holders-inner .seat-listing-div .seat-user-listing-box .seat-user-listing-row .nt-left img.img-fluid {
    height: 44px;
    width: 44px;
  }
  .list-seat-holders-div .list-seat-holders-inner .seat-listing-div .seat-user-listing-box .seat-user-listing-row .nt-right {
    width: calc(100% - 44px);
    min-height: 44px;
  }
  .list-seat-holders-div .list-seat-holders-inner .seat-listing-div .seat-user-listing-box .seat-user-listing-row .nt-right h3 {
    font-size: 16px;
  }
  .list-seat-holders-div .list-seat-holders-inner .seat-listing-div .seat-user-listing-box .seat-user-listing-row .nt-right p {
    font-size: 12px;
  }
  .list-seat-holders-div .list-seat-holders-inner .seat-listing-div .seat-user-listing-box .seat-user-listing-row .nt-right .text-desc {
    width: calc(100% - 75px);
  }
  .list-seat-holders-div .list-seat-holders-inner .seat-listing-div .seat-user-listing-box .seat-user-listing-row .nt-right .user-link {
    width: 75px;
  }
  .list-seat-holders-div .list-seat-holders-inner .seat-listing-div .seat-user-listing-box .seat-user-listing-row .nt-right .user-link .link.link-color {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .general-view-details-div .general-vd-box .thumb-div {
    margin: 0 0 20px 0;
  }
  .general-view-details-div .general-vd-box .thumb-div .img-fluid.img-responsive {
    max-height: 225px;
  }
  .general-view-details-div .general-vd-box .general-vd-content-div {
    margin: 0 0 15px 0;
  }
  .general-view-details-div .general-vd-box .general-vd-content-div .time-box {
    margin: 0 0 15px 0;
  }
  .general-view-details-div .general-vd-box .general-vd-content-div .time-box span.icon-span {
    width: 31px;
  }
  .general-view-details-div .general-vd-box .general-vd-content-div .time-box span.icon-span .bg-custom-icon {
    width: 31px;
    height: 31px;
  }
  .general-view-details-div .general-vd-box .general-vd-content-div .time-box .text {
    font-size: 22px;
    width: calc(100% - 41px);
  }
  .general-view-details-div .general-vd-box .general-vd-content-div h3 {
    font-size: 22px;
    line-height: 1.4;
  }
  .general-view-details-div .general-vd-box .general-vd-content-div p {
    font-size: 16px;
  }
  .general-view-details-div .general-vd-box .general-vd-content-div .custom-category-inner .custom-list-ul li .category-link {
    font-size: 12px;
    line-height: 18px;
    min-height: 28px;
    padding: 4px 20px 3px 20px;
  }
  .general-view-details-div .general-vd-box .general-vd-content-div .border-vd-text-div .border-vd-text-row .border-vd-text-box {
    padding: 15px 20px;
  }
  .general-view-details-div .general-vd-box .general-vd-content-div .border-vd-text-div .border-vd-text-row .border-vd-text-box h2 {
    font-size: 22px;
  }
}
/*# sourceMappingURL=creator-popup-style.css.map */