.general-payment-section {
  padding: 50px 0;
  margin: 0;
  position: relative;

  .general-payment-div {
    padding: 50px 50px 30px 50px;
    margin: 0;
    position: relative;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 6px;

    .container-general-center {
      width: 100%;
      max-width: 830px;
      margin: 0 auto;
    }

    .heading-div {
      padding: 40px 0;

      .heading-inner-div {
        padding: 0;
        margin: 0;
        position: relative;

        h1 {
          font-weight: 800;
          font-size: 62px;
          color: #fff;
          letter-spacing: 0;
          margin: 0 0 10px 0;
          font-family: "Moderat Extended", sans-serif;
        }
      }
    }

    .general-payment-root {
      .general-top {
        padding: 0 0;
        margin: 0 0 60px 0;
        position: relative;
      }

      .general-bottom {
        padding: 0 0;
        margin: 0;
        position: relative;

        .general-btn-div {
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          justify-content: flex-end;

          .mr-20 {
            margin-right: 20px;
          }

          .btn.btn-common-black {
            min-width: 180px;
          }

          .btn-common-primary {
            min-width: 180px;
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .general-payment-section {
    .general-payment-div {
      padding: 20px 20px 20px 20px;

      .heading-div {
        padding: 20px 0 20px 0;

        .heading-inner-div {
          h1 {
            font-size: 30px;
          }
        }
      }

      .general-payment-root {
        .general-bottom {
          .general-btn-div {
            .btn.btn-common-black {
              min-width: 120px;
              font-size: 16px;
              height: 40px;
              min-height: 40px;
            }

            .btn-common-primary {
              min-width: 120px;
              font-size: 16px;
              height: 40px;
              min-height: 40px;
            }

            .mr-20 {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .general-payment-section {
    .general-payment-div {
      padding: 30px 30px 30px 30px;

      .heading-div {
        padding: 20px 0 20px 0;

        .heading-inner-div {
          h1 {
            font-size: 42px;
          }
        }
      }

      .general-payment-root {
        .general-bottom {
          .general-btn-div {
            .btn.btn-common-black {
              min-width: 120px;
              font-size: 16px;
              height: 40px;
              min-height: 40px;
            }

            .btn-common-primary {
              min-width: 120px;
              font-size: 16px;
              height: 40px;
              min-height: 40px;
            }

            .mr-20 {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
